<div class="login-container">
    <div class="header">
        <img src="assets/images/logo.webp" class="logo" />
    </div>
    <h1>Welcome Back</h1>
    <p>Log in to your account using email or social networks</p>

    <form class="login-form">
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button type="submit">Login</button>
    </form>

    <div class="divider">
        <span>Or login with</span>
    </div>

    <button class="facebook-login">Login with Facebook</button>

    <div class="signup-link">
        <span>First time here? <a href="#">Signup</a></span>
    </div>
</div>